


body * {
    display:block;
    font-family:sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    display:flex;
    flex-direction:column;    
}

main {
    margin:0 auto;
    min-width: 250px;
    max-width:600px;
    align-self:center;
    justify-content: center;
    
}

#todos {
    border: 1px solid black;
    background: palevioletred;
    flex-grow: 2;
    padding:5px;
}
#todosTitle {
    border: 1px solid black;
    background: palevioletred;
    flex-grow: 2;
    padding:5px;
}
#done {
    border: 1px solid black;
    background: palegreen;
    flex-grow: 1;
    padding:5px;
}
#doneTitle {
    border: 1px solid black;
    background: palegreen;
    flex-grow: 1;
    padding:5px;
}
.task {
    flex-direction:row;
    background:white;
    justify-content: space-between;
    padding:10px;
    border-radius: 5px;
    border: 1px solid black;
}
#inputTask {
    font-size: 14px;
    flex-direction:row;
    flex-grow:1;
}

#userInput input {
    width:100%;
    
}